.hide {
    display: none;
}

#elastic {
    display: flex;
    justify-content: center;
}

.elastic li{
    transition: all ease 500ms;
}

.elastic li.hide {
    display: none;
}

.userElement {
    list-style-type: none;
    border: 1px solid orange;
    margin: 20px;
    border-radius: 20%;
}

body {
    background-image: url(../assets/background-image-city.jpg);
}

.listInfo {
    display: flex;
    justify-content: center;
    align-content: right;
    overflow-y: scroll;
    border: 1px solid white;
    height: 898px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10%;
}

.searchInfo {
    display: flex;
    justify-content: center;
}

#elastic {
    border: none;
    outline: none;
    height: 50px;
    width: 400px;
    margin-left: 30%;
    margin-right: 30%;
}

.additionalBtns {
    display: flex;
    justify-content: center;
    align-content: center;
}

.elastic {
    margin-top: 50px;
}

li {
    text-align: center;
}