<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- other -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <main>
            <div class="searchInfo">
                <input type="text" id="elastic">
            </div>
            <div class="listInfo">
                <ul class="elastic">
                    {% for i in users_data %}
                    <li>{{ i.phone_number }}<br>{{ i.email }}<br>{{ i.id }}</li>
                    {% endfor %}>
                </ul>
            </div>
            <!-- вызов js -->
            <script src="static/javascript/func.js"></script>
        </main>
    </body>
</html>