<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/preloader.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transitions.css') }}">
    <title>Вход</title>
</head>
<body>
    <div id="page-preloader" class="preloader">
      <div class="loader"></div>
    </div>
  
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Вход </h2>
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="/static/assets/user_join.svg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form action="/join-to-server" method="POST">
            <input type="login" id="login" class="fadeIn second" name="login" placeholder="Логин">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
            <input type="submit" class="fadeIn fourth" value="Войти" name="submit_button">
          </form>
        </div>
      </div>
      <script src="/static/javascript/preloader.js"></script>
      <script src="/static/javascript/swup.js"></script>
</body>
</html>