<!DOCTYPE html>
    <head>
        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/preloader.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <!-- other -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add message</title>
    </head>

    <body>
        <div id="page-preloader" class="preloader">
            <div class="loader"></div>
        </div>


        <div class="wrapper fadeInDown">
            <div id="formContent">
                <form class="method" method="POST" action="/send_all_users">
                    <input class="message fourth" name="submit_button" type="submit" value="Отправить" />
                    <input
                    id="message"
                    type="text" 
                    name="message"
                    placeholder="Сообщение"/><br>
                </form>
                <form action="/join-to-server" method="POST">
                    <input class="back btn" name="submit_button" type="submit" value="Вернуться"/>
                </form>
            </div>
        </div>
        
        <!-- https://itchief.ru/javascript/popup-messages#use -->
        <script src="/static/javascript/preloader.js"></script>
    </body>

</html>